<div class="midbar">
    <div style="width: 20%; height: 90%;">
        <img class="image" src="/indianspicemart/frozenfood.png" class="card-img-top" alt="...">
        <h3>Frozen food</h3>
        <h5 id="buybtn">$10  <button class="btn btn-success">View</button></h5>
        <div >
          <p >We offer a selection of frozen food items at our store.</p>
        </div>
      </div>
      <div style="width: 20%; height: 90%;">
        <img class="image" src="/indianspicemart/pooja.png" class="card-img-top" alt="...">
        <h3>Pooja samagri</h3>
        <h5 id="buybtn" >$20 <button class="btn btn-success">View</button></h5>
        <div >
          <p >We carry a variety of Pooja samagri (religious items) in our store.</p>
        </div>
      </div>
      <div   style="width: 20%; height: 90%;">
        <img class="image" src="/indianspicemart/pickles.png" class="card-img-top" alt="...">
        <h3>Pickles</h3>
        <h5 id="buybtn" >$30 <button class="btn btn-success">View</button></h5>
        <div >
          <p >We offer a variety of Pickles at our store.</p>
        </div>
      </div>
      <div  style="width: 20%; height: 90%;">
        <img class="image" src="/indianspicemart/be.png" class="card-img-top" alt="...">
        <h3>Breads and eggs</h3>
        <h5 id="buybtn">$40 <button class="btn btn-success">View</button></h5>  
        <div >
          <p >We offer a variety of Breads and eggs at our store.</p>
        </div>
      </div>
</div>
<br>
<br>