<div class="products" >
    <!-- <h1 style="font-size: 40px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center;">Featured Products</h1> -->
    <div class="midbar">
        <div style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/rice.png" class="card-img-top" alt="...">
            <div >
              <p >Rice.</p>
            </div>
          </div>
          <div  style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/pulses.png" class="card-img-top" alt="...">
            <div >
              <p >pulses</p>
            </div>
          </div>
          <div   style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/spices.png" class="card-img-top" alt="">
            <div >
              <p >Spices</p>
            </div>
          </div>
    </div>
    <div class="midbar ">
        <div style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/og.png" class="card-img-top" alt="...">
            <div >
              <p >Oil and Ghee</p>
            </div>
          </div>
          <div  style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/papad.png" class="card-img-top" alt="...">
            <div >
              <p >papad</p>
            </div>
          </div>
          <div   style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/biryani.png" class="card-img-top" alt="...">
            <div >
              <p >biryani.</p>
            </div>
          </div>
    </div>
    <div class="midbar">
        <div style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/snacks.png" class="card-img-top" alt="...">
            <div >
              <p >Snacks</p>
            </div>
          </div>
          <div  style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/rte.png" class="card-img-top" alt="...">
            <div >
              <p >Ready To eat</p>
            </div>
          </div>
          <div   style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/dairy.png" class="card-img-top" alt="...">
            <div >
              <p >Dairy Products</p>
            </div>
          </div>
    </div>
    <div class="midbar">
        <div  style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/dry.png" class="card-img-top" alt="...">
            <div >
              <p >Dry Fruits</p>
            </div>
          </div>
          <div  style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/flour.png" class="card-img-top" alt="...">
            <div >
              <p >Flour</p>
            </div>
          </div>
          <div  style="width: 20%; height: 90%;">
            <img class="image" src="/indianspicemart/beverages.png" class="card-img-top" alt="...">
            <div >
              <p >beverages</p>
            </div>
          </div>
        </div>