<% layout('layouts/boilerplate') %>
<%- include("../partials/navbar")%>
<%- include("../partials/carousel")%>
<div id="product">
  <p>About us</p>
</div>
<div class="about" >
    <p style="font-size: 30px;">
        Welcome to Indian Spice Mart!
    </p>
    <p>
        I am Krish Dua, a third-year Software Engineering student at DTU, specializing in the MERN stack. Our platform, Indian Spice Mart, is dedicated to bringing the rich and diverse flavors of Indian cuisine to your kitchen.
    </p>
    <p>
        At Indian Spice Mart, we offer a curated selection of 16 varieties of authentic Indian spices and products. Each product is carefully sourced to ensure you experience the true essence of Indian cooking. Whether you are a seasoned chef or a home cook, our products will inspire you to create delicious and aromatic dishes.
    </p>
    <p>
        Our mission is to provide high-quality ingredients that celebrate the heritage and tradition of Indian cooking. We believe that food is a powerful way to connect with culture and community, and we are here to make that connection more accessible and enjoyable for everyone.
    </p>
    <p>
        Thank you for choosing Indian Spice Mart. We are excited to be a part of your culinary journey.
    </p>
</div>
<%- include("../partials/footer")%>
