<% layout('layouts/boilerplate') %>
<%- include("../partials/navbar")%>
<%- include("../partials/carousel")%>
<br>
<div style="margin: 2%; text-align: center;" class="alert alert-danger" role="alert">
    <h1><span>500</span> <br>
        Server Error</h1>
    <p><span style="font-size: 25px; ">Oops!!,</span>something went wrong.</p>
    <p>Try to refresh the page or feel free to contact us if the problem persists.</p>
</div>
<%- include("../partials/footer")%>